<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form">
        <div align="left" class="col-md-6 col-md-offset-3 form-group">
          <h3>My Profile</h3>
          Name: <%= @user.first_name %> <%= @user.last_name %><br>
          Email: <%= @user.email %>
          <br><br>
          <p>Join a team</p>
          <p>Create a hunt</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
