<header>
  <div class="container">
    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="wow fadeIn">CityRacers</h1>
        <br />
        <p class="lead wow fadeIn" data-wow-delay="0.5s"><font size="+6">Create an urban hunt, invite teams, and get ready to race to the finish!</font><br>
        </p>
        <br />

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <% if current_user %>
            <div class="row"><!--Begin Button Row-->
              <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                <%= link_to "Create Hunt", new_hunt_path, class: "btn btn-secondary btn-lg scroll", id: "new-hunt" %>
              </div>
              <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                <a href="#" class="btn btn-primary btn-lg scroll">Join a Team</a>
              </div>
            </div><!--End Button Row-->
            <% end %><!--Begin Button Row-->
            <% unless current_user %>
            <div class="row">
              <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                <a href="/signup" class="btn btn-secondary btn-lg scroll">Sign Up</a>
              </div>
              <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                <a href="/login" class="btn btn-primary btn-lg scroll">Log In</a>
              </div>
              <% end %>
            </div><!--End Button Row-->
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<section id="be-the-first" class="pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
        <h2>Use CityRacers from any smartphone</h2>
        <p class="lead">Let's light this candle.</p>
      </div>
    </div>

    <div class="iphone wow fadeInUp" data-wow-delay="1s">
      <%= image_tag 'cityracers_iphone.png' %>
    </div>
  </div>
</section>
<br><br><br><br>
<br><br><br><br>
<section id="main-info" class="pad-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
        <hr class="line purple">
        <h3>Organizers</h3>
        <p>Create a custom urban scavenger hunt with clues that are meaningful to you and your group, create and invite teams to join, and watch the leaderboard as your teams compete.</p>
      </div>
      <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
        <hr  class="line blue">
        <h3>CityRacers</h3>
        <p>Join a team using your special access code and prepare for the start of the race; you'll complete a series of fun and trivia-based tasks about your city.</p>
      </div>
      <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
        <hr  class="line yellow">
        <h3>All the memories</h3>
        <p>Return to your CityRacer account anytime to see past races complete with photos and videos from all teams and relive that glorious day over and over.</p>
      </div>
    </div>
  </div>
</section>


<!--Pricing-->
<!-- <section id="pricing" class="pad-lg">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="white">Pricing</h2>
        <p class="white">CityRacers is available for the low price of $0</p>
      </div>
    </div>

    <div class="row margin-50">

      <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1s">
        <br />
        <ul class="list-unstyled pricing-table text-center">
        </ul>
      </div>

      <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="0.4s">
        <ul class="list-unstyled pricing-table active text-center">
          <li class="headline"><h5 class="white">CityRacers Basic</h5></li>
          <li class="info">Enjoy using CityRacers as often as you want.</li>
          <li class="features first">Up To 10 hunts</li>
          <li class="features">Up to 12 teams per hunt</li>
          <li class="features">10GB of archived hunt storage</li>
          <li class="features last btn btn-secondary btn-wide"><a href="#">Create a Hunt</a></li>
        </ul>
      </div>

      <div class="col-sm-4 pricing-container wow fadeInUp" data-wow-delay="1.3s">
        <br />
        <ul class="list-unstyled pricing-table text-center">
        </ul>
      </div>

    </div>

  </div>
</section> -->


<section id="invite" class="pad-lg light-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <i class="fa fa-envelope-o margin-40"></i>
        <h2 class="black">Tell a Friend</h2>
        <br />
        <p class="black">Enter a friend's email below and we'll send them a special CityHunt invite.</p>
        <br />

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Send</button>
            </form>
          </div>
        </div><!--End Form row-->

      </div>
    </div>
  </div>
</section>


<section id="press" class="pad-sm">
  <div class="container">

    <div class="row margin-30 news-container">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.8s">
        <h3>Don't just take our word for it.</h3>
        <a href="#" target="_blank">
        <%= image_tag 'press-01.jpg', alt: 'Tech Crunch' %>
        <p class="black">The best time we've ever had. Ever. In our lives.<br />
        <small><em>Tech Crunch - July 20, 2017</em></small></p>
        </a>
      </div>
    </div>

    <div class="row margin-30 news-container">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 wow fadeInLeft" data-wow-delay="1s">
        <a href="#" target="_blank">
        <%= image_tag 'press-02.jpg', alt: 'Forbes' %>
        <p class="black">This app is going places. We use it every day! <br />
        <small><em>Forbes - July 21, 2017</em></small></p>
        </a>
      </div>
    </div>

  </div>
</section>
