<footer>
      <div class="container">

        <div class="row">
          <br><br>
          <hr>
          <br><br>
          <div class="col-sm-6 margin-20">
            <ul class="list-inline social">
              <li>Connect with us on</li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p> <%= link_to "home", root_path %> </p>
          </div>

          <div class="col-sm-6 text-right">
            <p><small>Copyright &copy; 2017. All rights reserved. <br>
	            Created by <a href="https://github.com/somedayrainbows">SomedayRainbows</a></small></p>
          </div>
        </div>

      </div>
    </footer>
